 body {
    background-color: #ffb067;
    font-family: sans-serif; 
}

.big-font {
    font-size: 16rem;
    text-shadow: 5px 6px 6px rgb(26, 5, 247);
}

h1 {
    border: 15px solid #f8ccdc;
    color: #a2dce7;
    background-color: #ffed86;
    text-align: center;
    padding: 15px;
    margin: 10px;
}

h2 {
    text-align: center;
    color: #f8ccdc
    font-size: 5rem
}

.worlds-finest {
    margin: auto;
    display: block;
    border: 5px solid black;
    width: 40%;
}

h1, h2, h3 {
    text-shadow: 0 0 2px black;
}

@media (max-width: 1098px){
    .big-font {
        font-size: 5rem
    }
}