 body {
    background-color: #ffb067;
    font-family: sans-serif; 
}

.big-font {
    font-size: 16rem;
}

h1 {
    border: solid 15px #f8ccdc;
    color: #a2dce7;
    background-color: #ffed86;
    text-align: center;
    padding: 15px;
    margin: 10px;
}

h2 {
    text-align: center;
    color: #f8ccdc
}

@media (max-width: 1098px){
    .big-font {
        font-size: 5rem
    }
}