 body {
    background-color: #a2dce7;
    font-family: sans-serif; 
}

img {
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.big-font {
    font-size: 16rem;
    text-shadow: 6px 6px 6px #00478f;
}

h1 {
    border: 15px solid #f8ccdc;
    color: #a2dce7;
    background-color:  #ffed86;
    text-align: center;
    padding: 15px;
    margin: 10px;
    font-size: 4rem;
}

h2 {
    text-align: center;
    color: #ffb067;
    font-size: 5rem;
}

#worlds-finest {
    margin: auto; /* centering */
    display: block;
    border: 5px solid black;
    width: 40%;
}

h1, h2 {
    text-shadow: 3px 3px 3px black;
}

h3 {
    color:aqua;
    text-shadow: 2px 2px 2px black;
    font-size: 2rem;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.photos img {
    margin: auto;
    width: 20%;
    min-width: 200px;
    max-width: 300px;
    display: block;
}

footer {
    color: pink;
    text-shadow: 2px 3px 3px black; 
}

@media (max-width: 1098px){
    .big-font {
        font-size: 5rem
    }
}